/*@-moz-document domain("github.com") {
    .application-main,
    .page-dashboard,
    .pagehead,
    .Box,
    .bg-white {
        background-color: #31363b !important;
        color: #FFF !important;
    }

    .border {
        border-color: #FFF !important;
    }

    .file-headere-info,
    .commit-tease,
    .Box-header,
    .footer,
    .file-header {
        background-color: #2d3136 !important ;
        color: #FFF !important;
    }

    .Box-body,
    .commit-tease-contributors {
        background-color: #616569  !important ;
        color: #FFF !important;
    }
    
    .link-gray-dark,
    .text-gray-light,
    .pl-c {
        color: #BBB !important;
    }

    .text-gray-dark,
    .muted-link,
    .text-gray,
    .UnderlineNav-item,
    .UnderlineNav-item.selected,
    .js-line-number,
    .blob-code {
        color: #FFF !important;
    }
}*/

