@-moz-document domain("gitlab.com"), url-prefix("gitlab") {
    body,
    .u-subtle-bg,
    .code,
    .file-content,
    .home-splash {    
        background-color: #31363b !important;
        color: #FFF !important;
    }

    .navbar,
    .dropdown-menu,
    .btn.btn-default,
    .fly-out-top-item,
    .fly-out-list,
    .fly-out-list li,
    .file-title-flex-parent,
    .line-numbers,
    .diff-line-num,
    .banner-buttons a.btn,
    .nav-sidebar,
    .issues-details-filters,
    .nav-links li a,
    .btn,
    .dropdown-menu-toggle,
    .file-title,
    .btn.add-to-tree,
    .toggle-sidebar-button,
    .tree-controls .btn,
    .btn.has-tooltip,
    .nav-icon-container,
    .nav-link,
    .dropdown-menu li a,
    .count,
    .input-group-prepend,
    #clone-dropdown,
    #project_clone,
    .nav-item {
        background-color: #2d3136 !important ;
        color: #FFF !important;
    }
    
    .arrow::after {
        border-right-color: #2d3136 !important ; 
    }

    .shortcuts-activity,
    .dropdown-menu-inner-title,
    .dropdown-menu-inner-content,
    .dropdown-header,
    .user-access-role,
    .fly-out-top-item-name,
    .project-full-name,
    .fly-out-list li a span,
    .fly-out-list li a,
    .nav-item-name,
    .text-plain,
    .str-truncated,
    .breadcrumb-item a,
    .breadcrumb-item-text,
    .breadcrumbs-listi > li > a,
    .issue-title-text a,
    .issuable-info span,
    .issuable-updated-at,
    .fa,
    .commit-author-link,
    .commit-row-message,
    .project-title,
    .breadcrumbs-list-angle,
    .tree-commit-link,
    .tree-holder .tree-time-ago,
    .text-right,
    .wiki h1,
    .wiki h2,
    .wiki h3,
    .wiki h4,
    .wiki h4,
    .wiki h6,
    .wiki p,
    .file-holder .file-title a:not(.btn),
    .project-full-name {
        color: #FFF !important;
    }
    
    table.table tr th,
    .info-well {
        background-color: #2d3136 !important ;
        color: #FFF !important;
    }
    
    .btn.btn-default:hover,
    .toggle-sidebar-button:hover,
    .dropdown-menu-toggle:hover,
    #clone-dropdown:hover,
    .btn.has-tooltip:hover,
    .btn.add-to-tree:hover,
    .fly-out-list li a:hover,
    .dropdown-menu li a:hover,
    .tree-controls .btn:hover,
    .btn:hover,
    .banner-buttons a.btn:hover,
    .input-group-prepend:hover,
    .tree-holder .tree-table tr:hover:not(.tree-truncated-warning) td {
        background-color: rgba(61, 174, 233, 0.5) !important;
        color: #eff0f1 !important;
    }
}

