@-moz-document url("about:home"), url("about:newtab") {
    .activity-stream,
    .prefs-pane .sidebar,
    .actions {
        background-color: {{ background }} !important;
        color: #FFF !important;
    }

    .prefs-button:hover {
        background-color: {{ hover }} !important;
        color: #eff0f1 !important;
    }
    
    #newtab-search-text,
    .context-menu-item a,
    .form-wrapper label,
    .cancel {
        color: {{ background }} !important;
    }

    .prefs-pane .prefs-modal-inner-wrapper .options {
        background: #2d3136 !important ;
    }

    .actions button:hover:not(.dismiss) {
        box-shadow: 0 0 0 5px #616569 !important;
    }
}

@-moz-document url("about:preferences"), url("about:addons"), url("about:debugging"), url("about:downloads") {
        *|*:root {
      --in-content-page-color: #FFF !important;
      --in-content-page-background: {{ background }} !important;
      --in-content-text-color: #FFF !important;
      --in-content-selected-text: #fff !important;
      --in-content-box-background: {{ background }} !important;
      --in-content-box-background-odd: #616569 !important;
      --in-content-box-background-hover: #ebebeb;
      --in-content-box-background-active: #dadada;
      --in-content-box-border-color: #d7d7db;
      --in-content-item-hover: rgba(0,149,221,0.25);
      --in-content-item-selected: #0a84ff;
      --in-content-border-highlight: #0a84ff;
      --in-content-border-focus: #0a84ff;
      --in-content-border-color: #d7d7db;
      --in-content-category-outline-focus: 1px dotted #0a84ff;
      --in-content-category-text: #FFF !important;
      --in-content-category-text-active: #0c0c0d;
      --in-content-category-text-selected: #0a84ff;
      --in-content-category-text-selected-active: #0060df;
      --in-content-category-background-hover: rgba(12,12,13,0.1);
      --in-content-category-background-active: rgba(12,12,13,0.15);
      --in-content-category-background-selected-hover: rgba(12,12,13,0.15);
      --in-content-category-background-selected-active: rgba(12,12,13,0.2);
      --in-content-tab-color: #424f5a;
      --in-content-link-color: #0a8dff;
      --in-content-link-color-hover: #0060df;
      --in-content-link-color-active: #003eaa;
      --in-content-link-color-visited: #0a8dff;
      --in-content-primary-button-background: #0a84ff;
      --in-content-primary-button-background-hover: #0060df;
      --in-content-primary-button-background-active: #003EAA;
      --in-content-table-border-dark-color: #d1d1d1;
      --in-content-table-header-background: #0a84ff;
      --in-content-category-background: #2d3136 !important;
    }
}

@-moz-document url("about:about"), url("about:performance"), url("about:buildconfig"), url("about:cache"), url("about:crashes"), url("about:checkerboard"), url("about:checkerboard")   {
    html, body, h1 { 
        background-color: {{ background }} !important;
        color: #FFF !important;
    }
}
                                
@-moz-document domain("addons.mozilla.org") {
    html, body, h1,
    .Home,
    .App-content,
    .SearchResult { 
        background-color: {{ background }} !important;
        color: #FFF !important;
    }

    .SearchResult:hover,
    .SearchResult-link:hover { 
        background-color: {{ background }} !important;
        color: #FFF !important;
    }

    .Card-contents,
    .Addon-title,
    .Header-title-wrapper {
        background: #2d3136 !important ;
    }

    .Header,
    .Card-header {
        background-color: {{ background-alternate }} !important;
    }

    .SearchResult-name,
    .MetadataCard-content,
    .disco-content p,
    .SearchResult-contents {
        color: #FFF !important;
    }
}

